@tailwind base;
@tailwind utilities;
@tailwind components;
@tailwind variants;

@layer base {
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Roboto-Regular.ttf) format("ttf");
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/Roboto-Bold.ttf) format("ttf");
  }

  :focus {
    @apply outline-none;
  }

  :focus-visible {
    @apply outline-2 outline-emerald-500;
  }
}
